.mainbox{
    background-color: #036666;
    width: 800px;
    height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 30%;
    grid-gap: 10px;
    margin: auto;
    margin-top: 20%;
    border:#036666 solid 10px;
    
}

#one{
  background-color: #469d89;
  border-radius: 20px;
  
}
#two{
background-color: #469d89;
height: 333%;
border-radius: 20px;
}
#three{
   background-color: #469d89;
   height: 100%;
   border-radius: 20px;
} 
body{
    background-color: #248277;
}

