@font-face {
  font-family: bestfont;
  src: url(/fonts/zrnic\ rg.ttf);
}

.mainbox{
  display: flex;
  background-color: #036666;
  width: 800px;
  height: 1000px;
  display: flex;
  flex-direction: column;
  grid-gap: 5px;
  margin: auto;
  border:#036666 solid 10px;
  opacity: .75;
  border-radius: 20px;
}

#one{

background-color: #469d89;
height: 100%;
width: 100%;
text-align: center;
justify-content: center;

}

#two{
  display: flex;
background-color: #469d89;
height: 100%;
text-align: center;
justify-content: center;

}

#two > div{
  width: 50%;
}

#fr {
  border-right: #036666 solid 5px;
}

#three{
  display: flex;
  flex-direction: column;
 background-color: #469d89;
 height: 100%;
 text-align: center;
 justify-content: center;
} 

#gr{
  border-bottom: 5px solid #036666;
}

input[type = "text"], textarea {
  background-color: #469d89;
}

input::placeholder{
  color:black;
}



body{
  display: dlex;
  background-color: #248277;
  background-image: url(/backgrounds/11234-aether.jpeg)
}

h3{
font-size: 15px;
font-family: bestfont;
}

p{
  font-family: bestfont;
}

@media screen {
  body {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }    
}


