.mainbox{
  background-color: #036666;
  width: 800px;
  height: 1000px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 5px;
  margin: auto;
  border:#036666 solid 10px;
  border-radius: 20px;
}

#one{
background-color: #469d89;
height: 100%;
width: 100%;
text-align: center;
}

#two{
background-color: #469d89;
height: 100%;
text-align: center;
}

#three{
 background-color: #469d89;
 height: 100%;
 text-align: center;
} 

body{
  background-color: #248277;
  background-image: url("https://images5.alphacoders.com/110/1108905.jpg")
}

h3{
font-size: 15px;
}